<mdl-card mdl-shadow="2">

    <mdl-card-title mdl-card-expand>
      <h2 mdl-card-title-text>Login</h2>
    </mdl-card-title>

    <mdl-card-supporting-text>

      <form #loginForm="ngForm" (ngSubmit)="login()" novalidate>
        <mdl-textfield name="email" type="text" label="Email" [(ngModel)]="user.email" autocomplete="email" autofocus floating-label
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required></mdl-textfield>
        <mdl-textfield name="password" type="password" label="Password" [(ngModel)]="user.password" autocomplete="password" floating-label required></mdl-textfield>
      </form>
      <p>Not a member yet? <a routerLink="/register">Register</a></p>

    </mdl-card-supporting-text>

    <mdl-card-actions mdl-card-border>
      <button mdl-button mdl-button-type="raised" mdl-colored="accent" mdl-ripple type="submit" (click)="login()" name="submit" [disabled]="loginForm.invalid || loading">Sign in</button>
      <mdl-spinner [active]="loading"></mdl-spinner>
    </mdl-card-actions>

</mdl-card>
