<mdl-card mdl-shadow="4" *ngIf="idea">
    <mdl-card-title mdl-card-expand>
      <h2 mdl-card-title-text>Idea: {{idea.title}}</h2>
    </mdl-card-title>

    <mdl-card-supporting-text>

      <form #ideaForm="ngForm" (ngSubmit)="save()" novalidate>
        <div class="mdl-card__supporting-text">
            <mdl-textfield name="title" type="text" label="Title" [(ngModel)]="idea.title" autofocus floating-label required></mdl-textfield>
            <mdl-textfield name="description" type="text" label="Description" [(ngModel)]="idea.description" floating-label required></mdl-textfield>
        </div>
      </form>
    </mdl-card-supporting-text>

    <mdl-card-actions mdl-card-border>
      <button mdl-button mdl-button-type="raised" mdl-colored="accent" mdl-ripple type="submit" (click)="save()" name="submit" [disabled]="ideaForm.invalid || ideaForm.pristine || loading">Save</button>
      <button mdl-button mdl-button-type="icon" (click)="delete()">
        <mdl-icon>delete</mdl-icon>
      </button>
      <mdl-spinner [active]="loading"></mdl-spinner>
    </mdl-card-actions>
</mdl-card>
