<mdl-card mdl-shadow="4">

    <mdl-card-title mdl-card-expand>
      <h2 mdl-card-title-text>Register</h2>
    </mdl-card-title>

    <mdl-card-supporting-text>

      <form #registerForm="ngForm" (ngSubmit)="register()">
        <mdl-textfield name="email" type="text" label="Email" [(ngModel)]="user.email" autocomplete="email" autofocus floating-label
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required></mdl-textfield>
        <mdl-textfield name="name" type="text" label="Name" [(ngModel)]="user.name" autocomplete="name" floating-label required></mdl-textfield>
        <mdl-textfield name="password" type="password" label="Password" [(ngModel)]="user.password" autocomplete="password" floating-label
          required></mdl-textfield>
      </form>
      <p>Already a member? <a routerLink="/login">Login</a></p>

    </mdl-card-supporting-text>

    <mdl-card-actions mdl-card-border>
      <button mdl-button mdl-button-type="raised" mdl-colored="accent" mdl-ripple type="submit" (click)="register()" name="submit" [disabled]="registerForm.invalid">Register</button>
      <mdl-spinner [active]="loading"></mdl-spinner>
    </mdl-card-actions>

</mdl-card>
